body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background: #eee;
}
/* common classes */
.primary-text {
    color: teal;

}
.secondary-text{
    color: rgb(0, 48,48,134)
}
.container {
    margin: auto;
}
img{
    width: 100%;
}
/* header */
#main-header{
    border-bottom: 1px solid teal;
}
/* navbar */
#navbar {
    text-transform: uppercase;
}
#navbar li{
    list-style: none;
display: inline;
padding-right: 20px;
}
#navbar li a {
    text-decoration: none;
    color: #888;
}
#navbar li.current a, 
#navbar a:hover {
    color: teal;
    border-bottom: 3px solid teal;
    padding-top: 3px;
    transition: 0.3s;
}